@{
    ViewBag.Title = "NotFound";
}

<div style="background-color: #A52A2A; color: White; height: 20px;">
</div>
<div style="background-color: #F5F5DC; color: black; height: 170px;">
    <div style=" padding: 20px; text-align: center;">
        <h3>
            404. Đã xảy ra lỗi.
        </h3>
        <h4>
            Không tìm thấy URL được yêu cầu trên máy chủ.
        </h4>
        <h6>@Html.ActionLink("Trở về trang chủ", "Index", "Home")</h6>
        <br />
        <br />
    </div>
</div>
<div style="background-color: #A52A2A; color: White; height: 20px;">
</div>