


@{
    ViewBag.Title = "Chi Tiết Sinh Viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("Trở về trang chủ", "Index", "Home")
<br />
<h2 class="text-center">Thông tin sinh viên</h2>
<br />
<div class="container">

    @{
        Html.RenderAction("InfoStudent", "Student", new { Id = ViewBag.Id });
    }
    <br />
    <hr />
    @{
        Html.RenderAction("ResultSubjectRegisted", "SubjectRegisted", new { Id = ViewBag.Id });
    }
    
</div>

